/* Standart Ayarlar*/
.body {
	background-image: url('../img/bg.jpg'); 
	background-repeat: repeat-x;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 15px;
}
a {
	color: #bbb;
	margin-right: 1px;
}
small {
	font-size: 12px;
}
select {
	width: 60px;
	height: 30px;
	padding:1px;
	font-size: 13px;
}



/* Header */

.inputGiris {
	width: 145px;
	height: 22px;
}
.btnGiris {
	color: #fff; 
	width: 65px; 
	height: 22px; 
	border: 1px solid #555555 ; 
	background-color: #4267B2; 
	padding: 0 3px;
	font-size: 12px;
	font-weight: bolder;
}

select {
	width: 60px;
	height: 30px;
}

/*Container*/
.container {
	max-width: 1050px;
}
.aciklama1 {
	color: #0e385f;
	font-size: 20px;
	font-weight: bold;
	line-height: 29px;
	margin-top: 40px;
	width: 450px;
	word-spacing: -1px;	/*Harflerin birbirine daha yakın olmasına yarar.*/
} 

.btnKaydol{
	background-color: #5f9b4c;
	font-size: 19px;
	width: 195px;
	height: 40px;
	border: 1px solid #777;
}

/* Footer */
footer{
	margin-top: 130px;
}

footer a {
	color: #365899;
	font-size: 12px;
}


/* Responsive */

@media (max-width: 930px) { 
	.aciklama1 {
		text-align: center;
		font-size: 14px;
		width: auto; 
	}
	.aciklama2 {
		font-size: 13px;
	}
	h2 {
		font-size: 25px;
	}
	select{
		width: 100%;
	}
}


@media (max-width: 575px) { 
	select {
		width: 100%;
		height: 40px;
		border:1px;
		border-color: #e9e9e9;
		border-radius: 5px;

	}

}